*,
*::before,
*::after {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #242525;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3c3e44;
    border-radius: 20px;
    border: 1px solid #242525;
  }
}

:root {
  --main__app-background: #1D1D1D;
  --main__block-background: #262626;
  --main__block-border: 1px solid #4d4d4d;
  --main__block-border-error: 2px solid #FA7272;
  --main__block-border-radius: 12px;
  --main__color: #bbb;
  --main__color-warning: #FA7272;
  --main__color-standart: #ffffff;
}

body {
  background-color: var(--main__app-background);
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 100px;
  align-items: center;

}

.app {
  &__content {
    display: flex;
    gap: 24px;
  }
}

.close-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;

  &__left {
    width: 15px;
    height: 1px;
    background-color: var(--main__color-standart);
    transform: rotateZ(45deg);
    position: absolute;
    left: 0;
    top: 8px;
  }

  &__rigth {
    width: 15px;
    height: 1px;
    background-color: var(--main__color-standart);
    transform: rotateZ(135deg);
    position: absolute;
    left: 0;
    top: 8px;
  }
}

.footer {
  border: var(--main__block-border);
  background-color: var(--main__block-background);
  border-radius: var(--main__block-border-radius);

  border-radius: 12px;
  min-width: 785px;
  min-height: 72px;

  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 24px;
  align-items: center;
  position: relative;

  &__stub-wrapper {
    width: 100%;
    padding-left: 18px;
    padding-right: 68px;
  }

  &__close-btn-wrapper {
    position: absolute;
    right: 8px;
    top: 8px;
  }
}

.stub {
  background: linear-gradient(90deg, #3c3c3c 0%, #444444 51.04%, #333333 100%);
}

.left-block {
  border: var(--main__block-border);
  background-color: var(--main__block-background);
  border-radius: var(--main__block-border-radius);
  min-width: 236px;
  max-width: 236px;
  padding: 14px 14px 24px 14px;

  &__img {
    width: 208px;
    height: 240px;
    display: block;
  }
}

.inventory {
  width: 525px;
  height: 500px;
  overflow: hidden;
  position: relative;
  user-select: none;
  border: var(--main__block-border);
  border-radius: var(--main__block-border-radius);

  &__reset-btn {
    position: fixed;
    top: 20px;
    left: 20px;
  }

  &__drawer-background {
    width: 525px;
    height: 500px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    top: 0;
    z-index: 40;
  }

  &__drawer {
    position: absolute;
    overflow: hidden;
    z-index: 50;
    backdrop-filter: blur(16px);
    background-color: rgba($color: #262626, $alpha: 0.8);
    min-width: 250px;
    right: 0;
    height: 100%;
    border-left: var(--main__block-border);
    border-bottom-right-radius: var(--main__block-border-radius);
    border-top-right-radius: var(--main__block-border-radius);

    &.v-enter-active,
    &.v-leave-active {
      transition: all 0.5s ease;

    }

    &.v-enter-from,
    &.v-leave-to {
      opacity: 0;
      right: -250px;
    }

    &-close-btn-wrapper {
      position: absolute;
      z-index: 60px;
      right: 10px;
      top: 10px
    }

    &-img {
      width: 130px;
      height: 130px;
      margin: 55px auto 0 60px;
      display: block;
    }

    &-top-divider {
      height: 1px;
      width: calc(100% - 30px);
      border: var(--main__block-border);
      margin: 30px 15px 0 15px;

    }

    &-bottom-divider {
      height: 1px;
      width: calc(100% - 30px);
      border: var(--main__block-border);
      margin: 24px 15px 0 15px;
    }

    &-btn {
      border: none;
      width: 100%;
      border-radius: 8px;
      cursor: pointer;
      padding: 5px 10px;
    }

    &-btn.warning {
      background-color: var(--main__color-warning);
      color: var(--main__color-standart);
    }

    &-btn.main {
      background-color: var(--main__color-standart);
    }

    &-btn.big {
      height: 40px;
    }

    &-btn.standart {
      height: 33px;
    }

    &-btns-wrapper {
      padding: 18px 15px 0 15px;
    }

    &-delete-form {
      position: absolute;
      overflow: hidden;
      z-index: 60;
      backdrop-filter: blur(16px);
      background-color: rgba($color: #262626, $alpha: 0.8);
      bottom: 0;
      width: 100%;
      height: 133px;
      border-top: var(--main__block-border);
      padding: 20px;

      &.v-enter-active,
      &.v-leave-active {
        transition: all 0.3s ease;

      }

      &.v-enter-from,
      &.v-leave-to {
        opacity: 0;
        bottom: -133px;
      }

      &-input {
        background-color: var(--main__block-background);
        border: var(--main__block-border);
        height: 40px;
        padding: 11px;
        outline: none;
        color: var(--main__color);
        width: 100%;
        border-radius: 4px;
      }
      &-input.error {
        border: var(--main__block-border-error);
      }

      &-btns-wrapper {
        margin-top: 20px;
        display: flex;
        gap: 10px;
      }
    }

  }


  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
  }

  &__grid-item {
    background-color: var(--main__block-background);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:not(:nth-child(5n + 1)) {
      border-left: var(--main__block-border);
    }

    &:not(:nth-child(-n + 5)) {
      border-top: var(--main__block-border);
    }

  }


  &__item-counter {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 16px;
    height: 16px;
    border-top: var(--main__block-border);
    border-left: var(--main__block-border);
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 6px;
    color: var(--main__color);
  }

  &__drag-item-wrapper {
    position: fixed;
    z-index: 10;
    pointer-events: none;
    border: 1px solid #4d4d4d;
    padding: 0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background-color: #262626;
  }

  &__drag-item-enter {
    background-color: #333;
  }

}